.breadcrumb-container {
    display: flex;
    justify-content: flex-start;
}

.separator:after {
    content: '»';
}

.breadcrumb-container a:hover {
    color: gold !important;
}

.breadcrumb-container ol li:last-child a {
    color: gold !important;
    border-bottom: solid;
}

.bravada-child-breadcrumb {
    display: flex;
    margin-left: 11vw;
    font-family: 'Muli';
    font-size: 13px;
    align-items: center;
}

.bravada-child-breadcrumb-separator {
    margin-left: 20px;
    margin-right: 20px;
}

.bravada-child-breadcrumb_text {
    display: flex;
    text-wrap: nowrap;
}

@media (max-width:640px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .bravada-child-breadcrumb {
        align-items: flex-start;
        flex-direction: column;
    }

    .bravada-child-breadcrumb_text {
        margin-left: 15px;
    }
}
